@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }

  /* Disable Tailwind's dark mode color scheme detection */
  :root {
    color-scheme: light;
  }

  body {
    color: #171717;
    background: #ffffff;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
